.about{
  display: flex;
  justify-content: center;
  text-align: center;
  &__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    color: #7e8287;
    &__header{
      font-size: 46pt;
      font-weight: 800;
      color: #02918c;
      text-transform: uppercase;
      padding-top: 100px;
    }
    &__text:before{
      content: '~~~~~~~~ :: ~~~~~~~~';
      display: block;
      margin: 45px;
    }
    &__text{
      font-size: 16pt;
      font-weight: normal;
      line-height: 1.5;
      width: 60%;
      &__bold{
        font-size: 23pt;
        font-weight: bold;
      }
    }
    &__titles{
      width: 80%;
      display: flex;
      justify-content: space-around;
      margin-top: 70px;
      &__wall{
        content: "";
        display: block;
        height: 250px;
        width: 1px;
        background-color: #d9dbdb;
      }
      &__title{
        width: 20%;
        margin-top: 30px;
        &__logo{}
        &__text{
          font-weight: bold;
          font-size: 16pt;
          margin: 30px 60px;
        }
        &__info{
          font-size: 11pt;
          font-weight: normal;
        }
      }
    }
  }
}