.footer{
  background-color: #0b0b0b;
  &__container{
    display: flex;
    flex-direction: column;

    text-align: center;
    &__form{
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      &__input{
        input{
          padding: 20px;
          border-top: none;
          border-left: none;
          border-right: none;
          font-size: 16pt;
          font-weight: lighter;
          color: #7e8287;
          text-transform: uppercase;
          text-align: center;
          background: none;
          border-bottom: 1px solid #7e8287;
          width: 50%;
          outline: none;
        }
      }
      &__input-message{
        input{
          padding: 20px;
          border-top: none;
          border-left: none;
          border-right: none;
          font-size: 16pt;
          font-weight: lighter;
          color: #7e8287;
          text-transform: uppercase;
          text-align: center;
          background: none;
          border-bottom: 1px solid #7e8287;
          width: 75%;
          outline: none;
        }
      }
      &__button{
        button{
          border: none;
          color: black;
          font-size: 14px ;
          font-weight: 800;
          text-transform: uppercase;
          background-color: #cfc91d;
          width: 200px;
          height: 50px;
        }
      }
    }
    &__footer{
      display: flex;
      justify-content: center;
      align-items: center;
      color: #86898d;
      min-height: 70px;
      font-size: 12pt;
      font-weight: lighter;
      background-color: black;
      text-transform: uppercase;
    }
  }
}