.work {
  display: flex;
  &__container {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    &__info {
      &__header {
        font-size: 46pt;
        font-weight: bold;
        color: #02918c;
        text-transform: uppercase;
      }
      &__text {
        font-size: 16pt;
        font-weight: normal;
        color: #7e8287;
        &::before{
          content: '~~~~~~~~ :: ~~~~~~~~';
          display: block;
          margin-bottom: 30px;
        }
      }
    }
    &__images {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      &__background {

        width: 25%;
        &__1{
          background: url("../img/work-1.png") no-repeat 50% 50%;
          background-size: cover;
          height: 238px;
        }
        &__2{
          background: url("../img/work-2.png") no-repeat 50% 50%;
          background-size: cover;
          height: 238px;
        }
        &__3{
          background: url("../img/work-3.png") no-repeat 50% 50%;
          background-size: cover;
          height: 238px;
        }
        &__4{
          background: url("../img/work-4.png") no-repeat 50% 50%;
          background-size: cover;
          height: 238px;
        }
        &__5{
          background: url("../img/work-5.png") no-repeat 50% 50%;
          background-size: cover;
          height: 238px;
        }
        &__6{
          background: url("../img/work-6.png") no-repeat 50% 50%;
          background-size: cover;
          height: 238px;
          display: flex;
          justify-content: center;
          align-items: center;
          &__title-container {
            background-color: rgba(2, 145, 140, .8);
            height: 80%;
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &__header {
              font-size: 16pt;
              font-weight: bold;
              color: white;
            }
            &__info {
              font-size: 13pt;
              font-weight: normal;
              color: white;
              margin: 20px 35px;
            }
          }
        }
        &__7{
          background: url("../img/work-7.png") no-repeat 50% 50%;
          background-size: cover;
          height: 238px;
        }
        &__8{
          background: url("../img/work-8.png") no-repeat 50% 50%;
          background-size: cover;
          height: 238px;
        }
      }
    }
  }
}